<% if (title) { %>
    <h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error =>{ %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<% } %>

<% if (locals.accountType == "Admin" || locals.accountType == "Employee") { %>
    <h2>Welcome <%=locals.accountFirstName%></h2>
    <h3><a href="/account/update">Update Account Information</a></h3>
    <h3><a href="/inv/">Inventory Management</a></h3>
<% } else { %>
    <h2>Welcome <%=locals.accountFirstName%></h2>
    <h3><a href="/account/update">Update Account Information</a></h3>
<% } %>
